@font-face{
    font-family: Montserrat-Arabic-bold;
    src: url(/font/ArbFonts/ArbFONTS-Montserrat-Arabic-Bold.ttf);
    font-style: normal;
  }
  @font-face{
    font-family: Montserrat-Arabic-light;
    src: url(/font/ArbFonts/ArbFONTS-Montserrat-Arabic-Light.ttf);
    font-style: normal;
  }
  @font-face{
    font-family: Montserrat-Arabic-meduim;
    src: url(/font/ArbFonts/ArbFONTS-Montserrat-Arabic-Medium.ttf);
    font-style: normal;
  }
  @font-face{
    font-family: Montserrat-Arabic-regular;
    src: url(/font/ArbFonts/ArbFONTS-Montserrat-Arabic-Regular.ttf);
    font-style: normal;
  }
  :root{
    --Montserrat-regular : Montserrat-Arabic-regular;
    --Montserrat-bold : Montserrat-Arabic-bold;
    --Montserrat-meduim : Montserrat-Arabic-meduim;
    --Montserrat-light : Montserrat-Arabic-light;
  
  }
  
  header {
    position: fixed;
    left: 2.5%;
    z-index: 1;
  }
  .heading {
    display: flex;
    padding: 40px 40px;
    width: 95%;
    margin-left: 5%;
    overflow: hidden;
    max-width: 1530px;
    justify-content: space-between;
  }
  .brief{

  width: 55%; 
   padding: 50px 0;
    direction: rtl;
  
  }
  
  .previous , .quit {
    font-family: var(--Montserrat-regular);
    text-decoration: none;
    color: #172C4B;
    border: 2px solid #172C4B;
    padding: 10px 20px;
    font-size: 25px;
    float: left;
  }
  .previous {
    color: #172C4B;
  }
  .previous:hover {
    color: #172C4B;
    transform: scale(1.1);
  }
  .text {
    margin-top: 120px;
  }
  .text h1 {
    font-size: 25px;
      font-family: var(--Montserrat-bold);
      color: #172C4B;
      margin: 20px 0;
  
  }
  .text p {
    font-size: 18px;
      font-family: var(--Montserrat-light);
      color: #172C4B;
      margin: 20px 0;
  
  }
  
  .pict {
  
    position: relative;
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;


  }
  .quit {
    width: max-content;
    position: absolute;
    display: inline;
    overflow: hidden;
    z-index: 0;
    border-color: white;
    color: white;
    left: 50%;
    transform: translate(-50%);
    top: 80%;
  }
  .quit:hover {
    transform: translate(-50%) scale(1.1);
    color: white;

  }
  .pict::before {
    content: '';
    width: 700px;
    height: 700px;
    background-color: #172C4B;
    position: absolute;
    top: -100px;
    left: -30px;
    border-radius: 50% 0 50% 50%;
    z-index: -1;

  }
  .pict img {
    position: absolute;
    top: -20%;
    width: 700px;
    left: 50%;
    transform: translatex(-50%);

  }
  .pict h1 {
    position: absolute;
    top: 0;
    color: white;
    left: 50%;
    width: max-content;
    top: 70%;
    transform: translatex(-50%);
    font-family: var(--Montserrat-bold);
    font-size: 25px;
  }
  .pict .updimg {
    position: absolute;
    top: -20%;
    width: 700px;
    left: 50%;
    transform: translatex(-50%);

  }
  .pict .updh1 {
    z-index: 1;
    top: 70%;

  }

  footer{
    width: 95%;
    max-width: 1530px;
    padding: 20px 5%;
    margin: auto;
    
  }
  footer  h4{
    display: block;
    
    font-family:var(--Montserrat-bold);
    color: #172C4B;
    
    margin-bottom: 20px;
  }
  footer ul li {
   width: 180px;
   height: 60px;
   font-size: 18px;
   font-family: var(--Montserrat-light);
   border: 2px solid #172C4B;
   border-radius: 7px;
  }
  footer .reserv{
    font-family: var(--Montserrat-regular);
    text-decoration: none;
    color: white;
    background-color: #172C4B;
    border: 2px solid #172C4B;
    padding: 10px 20px;
    font-size: 25px;
    margin-top: 20px;
    float: left;
  }
  
  .reserv:hover{
    transform: scale(1.1);
  }
  
  footer{
    direction: rtl;
    width: 100%;
    margin: 10px auto;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
  
  }
  
  
  
  
  .change {
    display:  flex;
    justify-content: space-between;
    width: 100%;
    margin-top:  50px;
  }
  .change a:hover {
 
    color: white;
    background-color: #172C4B;
  }
  
  
  @media screen and (min-width : 1530px) {
    .heading{
      margin: auto;
    }
  }
  @media screen and (max-width : 1370px) {
    .pict h1 {
      font-size: 25Px;
      left: 60%;
      transform: translateX(-50%);
    }
    .pict .updh1 {
      font-size: 25Px;
      left: 60%;
      transform: translateX(-50%);
      top: 65%;
    }
    .pict img {
      left: 60%;
      transform: translatex(-50%);

    }
    .pict .updimg {
      left: 60%;
      transform: translatex(-50%);

    }
    .quit {

      
      left: 60%;
      transform: translate(-50%);
      top: 75%;
    }
  }
  @media screen and (max-width : 1200px) {
    .brief{
       padding: 20px 0;    
      }
      .previous {
  
        padding: 5px 10px;
        font-size: 20px;
      }
      .text {
        margin-top: 60px;
      }
      .text h1 {
        font-size: 20px;
          margin: 15px 0;
      }
      .text p {
        font-size: 15px;
          margin: 20px 0;
      
      }
    .pict::before {
      content: '';
      width: 600px;
      height: 600px;
      background-color: #172C4B;
      position: absolute;
      top: -100px;
      left: -30px;
      border-radius: 50% 0 50% 50%;
      z-index: -1;
    }
    .pict h1 {
      font-size: 20Px;
      left: 60%;
      transform: translateX(-50%);
      top: 70%;
    }
    .pict .updh1 {
      font-size: 20Px;
      left: 60%;
      transform: translateX(-50%);
      top: 70%;
    }
    .pict img {
      
        position: relative;
        top: -20%;
        width: 600px;
        left: 60%;
        transform: translatex(-50%);
        
    }
    .pict .updimg {
      
      position: relative;
      top: -20%;
      width: 600px;
      left: 60%;
      transform: translatex(-50%);
  }
  .quit {

      
    left: 60%;
    transform: translate(-50%);
    top: 80%;
  }
    footer ul li {
      width: 140px;
      height: 50px;
      font-size: 15px;
  
     }
     footer .reserv{
        padding: 5px 10px;
        font-size: 20px;
     }
  }
  @media screen and (max-width : 992px) {
    .pict::before {
      display: none;
    }
    .quit {

      
      color: #172C4B;
      border-color: #172C4B;
    }
    .pict h1 {
     color: #172C4B;
    }
  }
  @media screen and (max-width : 768px) {
    .heading {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0;
      margin: 0%;
    }
    .pict {
      position: relative;
      width: 100%;
      height: 450px;
      z-index: 0;
    }
    .pict img {
      position: absolute;
      bottom: -40%;
      width: 500px;
      left: 50%;
      
      transform: translatex(-50%);
      
    }
    .pict h1 {
      position: absolute;
      top: 80%;
      color: #172C4B;
      left: 50%;
      width: max-content;
      transform: translatex(-50%);
      font-family: var(--Montserrat-bold);
      font-size: 25px;
    }
    .pict .updimg {
      position: absolute;
      top: 0%;
      width: 500px;
      left: 50%;
      transform: translatex(-50%);
      
    }
    .quit{
      left: 50%;
      transform: translatex(-50%);
      top: 100%;
    }
    .pict .updh1 {
      position: absolute;
      top: 90%;
      color: #172C4B;
      left: 50%;
      width: max-content;
      transform: translatex(-50%);
      font-family: var(--Montserrat-bold);
      font-size: 25px;
    }
    .brief{
  
  margin-top: 80px;
      width: 100%; 
       padding: 0;
        direction: rtl;
      
      }
    .text {
      margin: 10px auto;
      width: 95%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  
    .text p {
      font-size: 18px;
        text-align: center;
    }
  
    .previous {
      position: absolute;
      left: 10px;
      top: 10px;
      z-index: -1;
    }
    .change {
      display:  flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top:  50px;
    }
    .change .previous{
      position: static;
      margin: 10px auto;
      width: 70%;
      text-align: center;
    }
    footer ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex ;
      justify-content: center;
    }
  }

  